<header>
<h1>{{pageTitle}}</h1>
  <p><a href="/">HomePage</a></p>
<p><a href="/about">About</a></p>
<p><a href="/info">Information</a></p>
<p><a href="/projects">Projects</a></p>
<p><a href="/contactUs">Contact Us</a></p>




</header>
