<header>
<h1>{{pageTitle}}</h1>
  <p><a href="/">HomePage</a></p>
<p><a href="/about">About</a></p>
<p><a href="/info">About</a></p>
<p><a href="/projects">About</a></p>
<p><a href="/contactUs">About</a></p>




</header>
